<!DOCTYPE html>
<html>
<head>
    <title>Resonance Speech</title>
    <link rel="icon" type="image/png" href = "../static/Rahh.png">
    <link rel="stylesheet" href = "../static/style.css">
</head>
<body>

    <button id="recordBtn">Tap to Start Speaking</button>
    <div id="transcriptArea"></div>

    <script>
        let mediaRecorder;
        let audioChunks = [];
        let isRecording = false;
        const recordBtn = document.getElementById('recordBtn');

        recordBtn.addEventListener('click', async () => {
            if (!isRecording) { // starts, checks if its not correctly recording
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true }); // asks if the mic can be used
                mediaRecorder = new MediaRecorder(stream);
                
                mediaRecorder.ondataavailable = event => { // catching the audio that comes from the mic
                    audioChunks.push(event.data);
                };
                
                mediaRecorder.onstop = async () => { // when the user stops recording
                    recordBtn.innerText = 'Processing'; // updating the button text
                    
                    // package the audio into a file
                    const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
                    const formData = new FormData();
                    formData.append('audio', audioBlob);

                    // backend
                    const response = await fetch('/api/transcribe', {
                        method: 'POST',
                        body: formData
                    });
                    
                    const data = await response.json();
                    
                    // makes text block
                    if (data.text) {
                        const newBlock = document.createElement('div');
                        newBlock.className = 'sentence-block';
                        newBlock.innerText = data.text; // takes the data from the transcribed audio
                        document.getElementById('transcriptArea').appendChild(newBlock);
                    }
                    recordBtn.innerText = 'Tap to Start Speaking';
                    audioChunks = []; // reset for next sentence
                };

                mediaRecorder.start();
                recordBtn.innerText = 'Tap to Stop Recording';
                recordBtn.classList.add('recording')
                isRecording = true;

            } else { // other wise if you click the button it'll stop the current recording
                mediaRecorder.stop();
                recordBtn.classList.remove('recording')
                isRecording = false;
            }
        });
    </script>
</body>
</html>